<section id ="signIn">
<form class="w-50" [formGroup]="signIn" (ngSubmit)="SignInForms ()">
  <div >
    <label for="email" >Email :</label>
    <input [class.is-valid]="signIn.get('email')?.status=='VALID'" type="email" name="email" id="email" class="form-control" formControlName="email" >
    <div class="alert alert-danger px-3  p-0 "
    *ngIf="signIn.get('email')?.errors !=null &&
    signIn.get('email')?.touched">
      <p *ngIf="signIn.get('email')?.errors?.['required']">
       Email required
      </p>
      <p *ngIf="signIn.get('email')?.errors?.['email']">
       email Not Valiad

      </p>

    </div>
  </div>
  <div >
    <label for="password" >Password :</label>
    <input [class.is-valid]="signIn.get('password')?.status=='VALID'" type="password" name="password" id="password" class="form-control" formControlName="password" >
    <div class="alert alert-danger px-3  p-0 "
    *ngIf="signIn.get('password')?.errors !=null &&
    signIn.get('password')?.touched">
      <p *ngIf="signIn.get('password')?.errors?.['required']">
        Password required
      </p>
      <p *ngIf="signIn.get('password')?.errors?.['pattern']">
        weak password
      </p>

    </div>
  </div>
  <button [disabled]="signIn.invalid" class="btn btn-info w-100  my-3" [ngStyle]="signIn.invalid?{'background-color': 'gray'}:{'background-color':'#17a2b8'}"    > <span *ngIf="!isWating">Sign In  </span>  <span *ngIf="isWating">Wating ....</span></button>

</form>
</section>
